[Hangul]
# 자판 배열
# 가능한 값:
# Dubeolsik
# Dubeolsik Yetgeul
# Sebeolsik 390
# Sebeolsik Final
# Sebeolsik Noshift
# Sebeolsik Yetgeul
# Sebeolsik Dubeol Layout
# Romaja
# Ahnmatae
#Keyboard=Dubeolsik
# 한자 모드 변환 키
#HanjaModeToggleKey=HANGULHANJA F9
# 자동 재배열
# 가능한 값:
# True False
#AutoReorder=True
# 워드 커밋
# 가능한 값:
# True False
#WordCommit=False
# 한자 모드
# 가능한 값:
# True False
#HanjaMode=False

